#todo{
	width:900px;
	margin:auto;
}
body{
	background-color: #EEE;
}
#code{
	width:400px;
	border-radius:10px;
	-moz-border-radius:10px;
	float:left;
	
}
#console1{
	float:left;
	width:auto;
	margin-left:6px;
}
#console2{
	position: relative;
	width:800px;
	height:50px;
}
#Reg,#Flag{
	float:left;
	width:100px;
	margin-left:6px;
	padding:5px;
	background-color: #FFF8DC;
	font-family:Lucida Console;
	font-size: 90%;
	border: 1px solid green;
}
#Flag{
	width:40px;
}
#titulo{
	border-radius:10px;
	-moz-border-radius:10px;
	border:1px solid #0F7FF0;
	padding:4px;
	width:170px;
	margin:3px;
	font-size:100%;
	text-align:center;
	color:#0F7F7F;
}
.opcode{
	background-color: #FFF8DC;
	color:#00008B;
	font-family:Lucida Console;
	font-size:80%;
	height:450px;
	border:1px solid blue;
}
.code{
	background-color: #FFF8DC;
	font-family:Lucida Console;
	font-size:80%;
	height:450px;
	border:1px solid black;
	padding:5px;
}
.erros{
	background-color: #FFE;
	font-family:verdana;
	color:#E00;
	font-size:80%;
	border:1px solid red;
}
#linha{
	width:60px;
}
#linhas{
	width:20px;
	float:left;
	height:450px;
	overflow:hidden;
	font-family:Lucida Console;
	font-size:80%;
	margin-top:43px;
	margin-right:3px;
	direction: rtl;
	background-color: #FFE;
	padding:2px;
}
